<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Access Credentials Finder</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-4 p4-5 display-3">ACCESS FINDER</h1>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="form-group">
            <label class="lead" for="access-name">Nome Del Sito:</label>
            <input
              type="text"
              id="access-name"
              class="form-control d-block p-3 my-2"
              placeholder="Inserisci nome sito"
            />
            <div class="btn btn-block btn-primary my-2">SUBMIT</div>
          </div>
        </div>
        <div class="col-md-8 mx-auto pt 4 output">
          <div
            class="alert alert-dark text-center font-weight-bold"
            role="alert"
          >
            BALLETTO DI SIENA
          </div>
          <ul class="list-group">
            <!-- WORDPRESS LOGIN TABLE -->
            <li class="list-group-item my-2">
              <h3 class="font-weight-bold">ACCESSI WP-ADMIN</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>BallettoDiSienaEventi</td>
                    <td>qcYB38)6P0oR*S1iYE</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>

                    <td>EventiBallettoAdmin</td>
                    <td>qcYB38)6P0oR*S1iYE</td>
                  </tr>
                </tbody>
              </table>
            </li>

            <!-- DATABASES TABLES -->
            <li class="list-group-item my-2">
              <h3 class="font-weight-bold">ACCESSI DATABASE</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>BallettoDiSienaEventi</td>
                    <td>EventiBallettoAdmin</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>qcYB38)6P0oR*S1iYE</td>
                    <td>qcYB38)6P0oR*S1iYE</td>
                  </tr>
                </tbody>
              </table>
            </li>

            <!-- CPANEL TABLES -->
            <li class="list-group-item my-2">
              <h3 class="font-weight-bold">ACCESSI CPANEL</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>BallettoDiSienaEventi</td>
                    <td>EventiBallettoAdmin</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>qcYB38)6P0oR*S1iYE</td>
                    <td>qcYB38)6P0oR*S1iYE</td>
                  </tr>
                </tbody>
              </table>
            </li>

            <!-- PLUGIN TABLE -->
            <li class="list-group-item my-2">
              <h3 class="font-weight-bold">ACCESSI PLUGIN</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>BallettoDiSienaEventi</td>
                    <td>EventiBallettoAdmin</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>qcYB38)6P0oR*S1iYE</td>
                    <td>qcYB38)6P0oR*S1iYE</td>
                  </tr>
                </tbody>
              </table>
            </li>

            <!-- PLUGIN TABLE -->
            <li class="list-group-item my-2">
              <h3 class="font-weight-bold">ACCESSI FTP</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>BallettoDiSienaEventi</td>
                    <td>EventiBallettoAdmin</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>qcYB38)6P0oR*S1iYE</td>
                    <td>qcYB38)6P0oR*S1iYE</td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
